<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyLists/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store-connect</string>
	<key>destination</key>
	<string>export</string>
	<key>teamID</key>
	<string>YTHBPWUU3Z</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>signingCertificate</key>
	<string>Apple Distribution</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.evenseal.usagedeck</key>
		<string>UsageDeck AppStore</string>
		<key>com.evenseal.usagedeck.widgets</key>
		<string>UsageWidgets AppStore</string>
		<key>com.evenseal.usagedeck.watchkitapp</key>
		<string>UsageDeckWatch AppStore</string>
		<key>com.evenseal.usagedeck.watchkitapp.complications</key>
		<string>UsageComplications AppStore</string>
	</dict>
	<key>uploadSymbols</key>
	<true/>
	<key>manageAppVersionAndBuildNumber</key>
	<false/>
</dict>
</plist>
